<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Articles</h1>
    </header>
    <main>
        <article>   
            <h1> <%= foo.title %></h1>
            <p> published on: <%= foo.published %></p>
            <p> <%= foo.content %></p>
            <p> <Author: %= foo.author %></p>
        </article>
    </main>
</body>

</html>